
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>
<header>
	<nav class="navbar navbar-expand-lg  bg-body-tertiary">
		<div class="container-fluid">
		  <a class="navbar-brand" href="#">SEOMY</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		 <div class="collapse navbar-collapse justify-content-between " id="navbarSupportedContent">
			<ul class="navbar-nav mx-auto">
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="#">Home</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">About</a>
			  </li>
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				  pages
				</a>
				<ul class="dropdown-menu">
				  <li><a class="dropdown-item" href="#">Action</a></li>
				  <li><a class="dropdown-item" href="#">Another action</a></li>
				  <li><hr class="dropdown-divider"></li>
				  <li><a class="dropdown-item" href="#">Something else here</a></li>
				</ul>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					 Services
					</a>
					<ul class="dropdown-menu">
					  <li><a class="dropdown-item" href="#">Action</a></li>
					  <li><a class="dropdown-item" href="#">Another action</a></li>
					  <li><hr class="dropdown-divider"></li>
					  <li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
			  </li>
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				 Blogs
				</a>
				<ul class="dropdown-menu">
				  <li><a class="dropdown-item" href="#">Action</a></li>
				  <li><a class="dropdown-item" href="#">Another action</a></li>
				  <li><hr class="dropdown-divider"></li>
				  <li><a class="dropdown-item" href="#">Something else here</a></li>
				</ul>
		  </li>
			  
			  <li class="nav-item">
				<a class="nav-link " aria-disabled="true">Contact</a>
			  </li>
			</ul>
			<form class="d-flex">
				<button class="btn btn-primary " type="button">Get a Quote</button>
			</form>
		  </div>
		
		
		</div>
	
	  </nav>
	<div class="container h1 ">
		<div class="d-flex justify-content-center">SEO Marketting & Agency</div>
         <div class="lead ">Ensuring the best return on investment for your bespoke seo recruitment</div>
	</div>
   <script src="./js/bootstrap.min.js">
	
   </script>
   <script src="./js/jquery.min.js.js"></script>
</header>
</body>
</html>